/* Selector, propiedad, valor
selector {
propiedad: valor}
*/
/* Variables CSS*/
:root {
    --main-color: #161a1d;
    --main-color-secondary: #9e0306;
    --main-text-color: #b1a7a6;
    --main-text-light: #ba181b;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****BODY*****/

body {
    font-family: "Marcellus", serif;
    font-size: 23px;
    font-weight: bold;
    background-color: #161a1d;
    background-image: url(/Img/fondos/fondodibujos23.jpg);
    background-position: center;
    color: var(--main-text-color)
}

/****HEADER****/

header {
    height: 130px;
    background-color: #000000;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.logo img {
    width: 100px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    font-size: 20px;
    margin: 10px 10px;
}

a {
    color: var(--main-text-color)
}

.banner {
    background-color: #000000;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.img1 {
    width: 30%;
}

.img2 {
    width: 70%;
}

.bannercursos {
    background-color: #000000;
    width: 100%;
    height: 70vh;
}

/***MAIN HOME***/
#nuestro_estudio {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 5px;
}

#nuestro_estudio img {
    width: 50%;
}

.parrafo-estudioLeft {
    width: 50%;
    text-align: left;
    margin: 15px;
}

.estudiofRight {
    width: 50%;
    margin: 15px;
}

.parrafo-estudio {
    text-align: left;
    padding: 0% 10px;
    margin: 15px;
}

h1 {
    color: var(--main-color-secondary);
    margin: 30px;
    padding: 10px;
}

h2 {
    color: var(--main-color-secondary);
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin: 30px;
    padding: 10px;
}

h3 {
    color: var(--main-color-secondary);
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin: 30px;
    padding: 10px;
}

#nuestro_estudio div {
    display: flex;
    align-items: center;
    padding: 0% 10px;
}

#equipo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}

#equipo div {
    align-items: center;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 7px 7px;
    width: 480px;
    height: 480px;
}

#equipo div img {
    align-items: center;
    width: 400px;
    min-width: 400px;
}

#equipo div p {
    font-weight: 450;
    font-style: normal;
    font-size: 17px;
    text-align: center;
}

#testimonios {
    padding: 0% 10px;
    font-style: italic;
    margin: 15px;
}

#testimonios p {
    margin: 15px;
}

#formulario form {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 15px;
}

input {
    background-color: #b1a7a6;
    margin: 5px;
}

textarea {
    background-color: #b1a7a6;
    margin: 5px;
}

/***MAIN GALERIA***/
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 15px;
    align-items: center;
}

.container img {
    background-color: #660708;
    width: 30%;
    min-width: 200px;
    border: 1px solid
}

.container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 15px;
    align-items: center;
}

.container2 img {
    background-color: #660708;
    width: 30%;
    min-width: 200px;
    border: 1px solid
}

/***MAIN CURSOS***/
#nuestros_cursos {
    padding: 0% 10px;
}

.tatuajesdescripcion {
    display: flex;
    align-items: left;
    padding: 0% 10px;
}

.cursotattoo {
    width: 50%;
    text-align: left;
    margin: 15px;
}

.cursotattoo ul {
    list-style: none;
}

.cursotattooimg {
    width: 50%;
    margin: 15px;
}

.cursotattooimg img {
    width: 49%
}

.clases {
    display: flex;
    padding: 0% 10px;
    text-align: left;
    margin: 30px;
    border: 2px solid #660708;
}

.clase {
    margin: 30px;
}

.clase p {
    text-decoration: underline;
}

.ctattoo p {
    margin: 15px;
}

.ctattoo ul {
    margin: 15px;
}

.ctattoo li {
    margin: 5px;
}

.body_piercing {
    display: flex;
}

.body_piercing img {
    width: 50%;
}

.piercingright {
    width: 50%;
    margin: 15px;
}

.temarioleft {
    width: 50%;
    text-align: left;
    margin: 15px;
}

/***MAIN INSUMOS***/

.introinsumos p {
    text-align: center;
    padding: 0% 10px;
    margin: 15px;
}

.insumos_tatuadores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.insumos_tatuadores article {
    align-items: center;
    background-color: var(--main-color-secondary);
    border-radius: 10px;
    margin: 5px 5px;
    padding: 10px 10px;
    width: 250px;
    height: 440px;
}

.insumos_tatuadores article img {
    width: 90%;
    min-width: 200px;
    align-items: center;
    justify-content: space-between
}

.insumos_tatuadores article p {
    text-align: center;
    font-size: 17px;
}

.insumos_perforadores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
}

.insumos_perforadores article {
    background-color: var(--main-color-secondary);
    border-radius: 10px;
    margin: 5px 5px;
    padding: 10px 10px;
    width: 250px;
    height: 440px;
}

.insumos_perforadores article img {
    width: 30%;
    min-width: 200px;
    align-items: center;
}

.insumos_perforadores article p {
    text-align: center;
    font-size: 17px;
}

/**FOOTER**/

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
    height: 35vh;
    background-color: #000000;
    background-image: url(/Img/fondos/fondofooter5.jpg);
    background-position: right;
    background-repeat: no-repeat;
    color: var(--main-text-color)
}

footer p {
    margin: 5px;
    font-weight: 10;
    font-style: normal;
    font-size: 15px;
    margin: 30px;
    font-weight: bold;
    text-align: center;
}

#mapa {
    text-align: center;
}

#contacto {
    text-align: center;
}

.boton {
    background-color: #660708;
    border-radius: 8px;
    padding: 5px 5px;
}