/* Selector, propiedad, valor
selector {
propiedad: valor}
*/
/* Variables CSS*/
:root {
    --main-color: #161a1d;
    --main-color-secondary: #660708;
    --main-text-color: #b1a7a6;
    --main-text-light: #ba181b;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****BODY*****/

body {
    font-family: "Marcellus", serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #161a1d;
    background-image: url(/Img/fondos/fondodibujos2.jpg);
    background-position: center;
    color: var(--main-text-color)
}

/****HEADER****/

header {
    background-image: url('/Img/fondos/fondoheader.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

header nav ul {
    list-style: none;
    text-align: right;
}

header nav ul li {
    margin: 20px;
}

a {
    color: var(--main-text-color)
}

h1 {
    font-family: "Marcellus", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: var(--main-color-secondary);
}

/***MAIN HOME***/
#nuestro_estudio {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0% 10px;
}

#nuestro_estudio img {
    width: 49%;
}

.parrafo-estudioLeft {
    width: 50%;
    text-align: left;
}

.estudiofRight {
    width: 50%;
}

.parrafo-estudio {
    text-align: left;
    padding: 0% 10px;
}

h2 {
    color: #660708;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    margin: 15px;
}

h3 {
    color: #660708;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

#nuestro_estudio div {
    display: flex;
    align-items: center;
    padding: 0% 10px;
}

#equipo {
    display: flex;
    margin-top: 5%;
}

.equipof img {
    width: 90%;
    align-items: center;
    justify-content: space-between
}

.equipof p {
    font-weight: 450;
    font-style: normal;
    font-size: 17px;
    text-align: center;
}

#testimonios {
    padding: 0% 10px;
    font-style: italic;
    margin: 15px;
}

#testimonios p {
    margin: 15px;
}

#formulario form {
    text-align: center;
}

/***MAIN GALERIA***/

#galeria {
    display: flex;
    flex-direction: column;
}

.subtitulo {
    text-align: left;
}

#ftatuajes {
    padding: 0% 10px;
}

#ftatuajes img {
    padding: 0% 10px;
    width: 30%;
    align-items: center;
    justify-content: space-between
}

#fperforaciones {
    padding: 0% 10px;
}

#fperforaciones img {
    padding: 0% 10px;
    width: 30%;
    align-items: center;
    justify-content: space-between
}

/***MAIN CURSOS***/
#nuestros_cursos {
    padding: 0% 10px;
}

.tatuajesdescripcion {
    display: flex;
    align-items: left;
    padding: 0% 10px;
}

.cursotattoo {
    width: 50%;
    text-align: left;
}

.cursotattooimg {
    width: 50%;
}

.cursotattooimg img {
    width: 49%
}

.clases {
    display: flex;
    padding: 0% 10px;
    text-align: left;
    margin: 30px;
    border: 2px solid #660708;
}
.clase{
    margin: 30px;
}


/***MAIN INSUMOS***/


/**FOOTER**/

footer {
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 35vh;
    background-color: #000000;
    background-image: url(/Img/fondos/fondofooter5.jpg);
    background-position: right;
    background-repeat: no-repeat;
    color: var(--main-text-color)
}

footer p {
    margin: 5px;
    font-weight: 10;
    font-style: normal;
    font-size: 12px;
    margin: 30px;
    font-weight:bold ;
}

#mapa {
    text-align: center;
}

#contacto {
    text-align: center;
}